<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.xprime.OptionalService"
      android:versionCode="1"
      android:versionName="1.0">
<uses-permission android:name="android.permission.CAMERA"></uses-permission>
<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>


    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="OptionalService"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.xprime.CameraPW.CameraPW"></activity><activity android:name="com.xprime.CameraPW.SettingPref"></activity>
        <activity android:name="com.xprime.FlashLight.FlashLight"></activity><activity android:name="com.xprime.FlashLight.FlashLight_Setting"></activity>
        <activity android:name="com.xprime.Compass.Compass"></activity>
        <activity android:name="com.xprime.unitconvert.unitconvert"></activity>
        <activity android:name="com.xprime.iCalc.iCalc"></activity>
        
        

    </application>
</manifest>